{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
    <h1 id="titulo"> Historial de Incidencias ID {{reportes.incidencia.id}}</h1>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <tbody>
                    <!-- En th va los titulos de las columnas -->
                    <tr>
                        <th>Fecha</th>
                        <th>Estado de la incidencia</th>
                        <th>Comentario por el administrador</th>
                        <th>Usuario que realizo el cambio</th>
                    </tr>
                    <!-- En td va el contenido -->
                    {% if reportes %}
                        {% for repor in reportes %}
                            <tr>
                                <td>{{ repor.fecha }}</td>
                                <td>{{ repor.comentario }}</td>
                                <td>{{ repor.usuario_login }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <td>No existen datos a mostrar</td>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}