#titulo{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-left: 3em;
}

#thumbnail{
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 2em;
}

#informacion{
	float: left;
}

#acciones{
	float: right;
}

#myTabs{
	margin-left: 1em;
}

.combo{
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 1em;
}

.tab-content{
	margin-left: 1em;
}