@import "less/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

body{
	background-color: #f7f3f0;

	#map-canvas {
        height: 700px;
        margin: 0px;
        padding: 0px
	}

	#top-border{
		background-color: #f04f4f;
		padding: 3px;
	}

	.navbar{
		font-family: "Ubuntu";
		font-size: 16px;

		.contain{
			.navbar-header{
				.navbar-brand{
					font-size: 25px;
				}
			}
		}
	}

	#img-map{
			.panel-heading{
				margin: 10px 15px 0px 15px;
			}
		}

	#incidence{
		height: 75%;
		.panel-heading{
			margin: 10px 0;
		}
	}

	.panel{
		background-color: #f04f4f;
		.panel-heading{
			.panel-title{
				font-family: "Ubuntu";
				font-size: 16px;
				color: #000;
			}
		}
	}

	.description-incidence{
		background-color: #FFF;
		padding: 20px;
	}

	.table{
		background-color: #3F3F3F;
		color: #FFF;
	}

	.bubbleMap {
		width:250px;
		font-size: 15px;
	}
}


