{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - GEM</title>

    <!-- Core CSS - Include with every page -->
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet" />

    <!-- Page Specific CSS -->
    {% block extraCSS %}{% endblock %}

</head>


<body>
    <div class="col-lg-12" id="top-border">
    </div>

    <!--Logotipo-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <img src="{{ STATIC_URL }}img/logo/logo_gem.png">
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </header>

    <!--Barra de navegacion-->
    <div class="col-lg-12">
        <div class="navbar navbar-inverse">
            <div class="contain">
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand"><img src="{{ STATIC_URL }}img/logo/gem_dark_mini.png"><strong> G. E. M. </strong></a>
                </div>
                <ul class="nav navbar-nav pull-right" id="tabs-menu">
                    <li><a href="/mapa-incidencias/"><span class="fa fa-map-marker fa-2x"></span> Mapa de incidencias</a></li>
                    <li><a href="/incidencia/"><span class="fa fa-list-ul fa-2x"></span> Lista de incidencias</a></li>
                    <li><a href="/estadisticas/"><span class="fa fa-bar-chart-o fa-2x"></span> Estadísticas</a></li>
                    <li><a href="#"><span class="fa fa-envelope-o fa-2x"></span> Mensajería </a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
    <!-- Core Scripts - Include with every page -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="{% static "js/modal.js" %}" type="text/javascript"></script>
    <script>
        $(function(){
            setNavigation();
        });

        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\?$/, "");
            path = decodeURIComponent(path);

            $("#tabs-menu a").each(function () {
                var href = $(this).attr('href');
                if(path.substring(0,href.length) === href){
                    $(this).closest('li').addClass('active');
                }
            });
        }
    </script>
    <!-- Page Specific Scripts -->
    {% block extraScripts %}{% endblock %}

</body>

</html>
