{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Lista de incidencias{% endblock %}

{% block extraCSS %}
    <link href="{% static "css/historial.css" %}" rel="stylesheet"  />
{% endblock %}

{% block content %}
    <h1 id="titulo"> Lista de Incidencias</h1>
    <div class="tabbable container">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            {% if estados_all %}
                {% for est in estados_all %}
                    {% if forloop.first %}
                        <li id="{{est.id}}" class="active"><a href="#{{est.id}}" role="tab" data-toggle="tab">{{est.tipo}}</a></li>
                    {% else %}
                        <li id="{{est.id}}"><a href="#{{est.id}}" role="tab" data-toggle="tab">{{est.tipo}}</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li>No se han creado estados</li>
            {% endif %}
        </ul>

        <select class="form-control combo" id="mySelect">
            {% if categorias_all %}
                <option value="0">Escoja una categoria</option>
                {% for cat in categorias_all %}
                    <option value="{{ cat.id }}">{{ cat.nombre }}</option>
                {% endfor %}
            {% else %}
                <option value="1">No hay categorias a enseñar</option>
            {% endif %}
        </select>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="container" id="datos"></div>
        </div>

        <!--Modal-->
        <div class="modal fade" id="test_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Siguiente Estado</h4>
                    </div>
                    <div class="modal-body">
                        <form id="next-state">
                            <input type="hidden" name="id_incidencia" id="id_incidencia" value="" />
                            <input type="hidden" name="id_estado" id="id_estado" value="" />
                            <input type="hidden" name="fecha" id="fecha" value="" />
                            <input type="hidden" name="id_usuario" id="id_usuario" value="" />
                            <textarea rows="6" cols="68" name="textarea_comment" id="comment"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extraScripts %}
    <script src="{% static "js/filter.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        var MEDIA_URL = {{MEDIA_URL}};
    </script>
{% endblock %}
