{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Lista de incidencias{% endblock %}

{% block content %}
    <h1 id="titulo"> Lista de Incidencias</h1>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <tbody>
                    <!-- En th va los titulos de las columnas -->
                    <tr>
                        <th>#</th>
                        <th>Categoria</th>
                        <th>Estado de la incidencia</th>
                        <th>Usuario que reporto</th>
                        <th>Votos</th>
                        <th>Comentario</th>
                        <th>Fecha</th>
                    </tr>
                    <!-- En td va el contenido -->
                    {% if incidencias and incidencias_opi and incidencias_info %}
                        {% for incidencia_info in incidencias_info %}
                            <tr>
                                <td>{{ incidencia_info.incidencia.id }}</td>
                                <td>{{ incidencia_info.incidencia.categoria }}</td>
                                <td>{{ incidencia_info.incidencia.estado }}</td>
                                <td>{{ incidencia_info.incidencia.reportada_x_usuario }}</td>
                                <td>NULL</td>      
                                <td>{{ incidencia_info.comentario }}</td>
                                <td>{{ incidencia_info.fecha }}</td>
                                <td><a href="/historial/{{ incidencia_info.incidencia.id }}">Historial</a></td>
                                <!-- Hacer un formulario -->
                                <td><a href="#">Editar</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <td>No existen datos a mostrar</td>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>    
{% endblock %}