{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Mapa de incidencias{% endblock %}

{% block content %}
    <!--Panel del mapa-->
    <div id="img-map" class="panel panel-default col-lg-12">
        <div class="panel-heading">
            <h3 class="panel-title">Mapa de incidencias de la ciudad de Guayaquil</h3>
        </div>
        <div class="panel-body">
            <div id="map-canvas"></div>
        </div>
    </div>
    <!--Panel de la incidencia-->
    <div id="incidence" class="panel panel-default col-lg-4 hidden">
        <div class="panel-heading">
            <h3 class="panel-title">Descripción de la incidencia
                <button class="close pull-right">&times;</button>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="thumbnail">
                        <img class="img-incidence" src="" alt="imagen de incidencia">
                        <div class="caption row">
                            <div class="col-lg-2">
                                <img class="icon-incidence" src="{{ STATIC_URL }}img/warning.png">
                            </div>
                            <div class="col-lg-8">
                                <h5 class="type-incidence text-center"></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row description-incidence">
                    <i class="fa fa-calendar pull-left"></i>
                    <i class="fa fa-male pull-right"></i>
                    <br><br>
                    <b>Dirección: </b><span></span>
                    <br><br>
                    <b>Comentario: </b><span></span>
                    <br><br>
                    <b class="pull-left">Estado: </b><span></span>
                    <i class="fa fa-slack pull-right"></i>
            </div>
            <div class="row message-incidence">
                    <!-- <form > -->
                        <div class="text-center"><b>MENSAJE</b></div><br>
                        <b>Titulo: </b><input type="text" name="titulo"><br><br>
                        <b>Contenido: </b><input type="text" name="contenido">
                    <!-- </form> -->
            </div>
            <br>
            <div class="row pull-right">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="myModalSi" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                            <span><img src="{{ STATIC_URL }}img/warning.png"></span><strong> AVISO</strong>

                                        </div>
                                        <div class="modal-body">
                                        <p>¿ Está seguro de llevar un seguimiento de este caso ?</p>
                                    </div>
                                    <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" class="btn btn-danger">Sí</button>
                                            <button type="button" data-dismiss="modal" class="btn btn-danger">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="myModalNo" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                            <h3>AVISO</h3>
                                        </div>
                                        <div class="modal-body">
                                        <p>¿ Está seguro de eliminar este caso ?</p>
                                    </div>
                                <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-primary">Sí</button>
                                        <button type="button" data-dismiss="modal" class="btn btn-danger">No</button>
                                </div>
                                </div>
                            </div>
                        </div>
                        <a href="ajax.html" data-target="#myModalSi" data-toggle="modal" class="btn btn-primary">Aceptar</a>
                        <a href="ajax.html" data-target="#myModalNo" data-toggle="modal" class="btn btn-primary">Rechazar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extraScripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>

        var map;
        var markersArray = [];
        var activeWindow;


        $(document).ready( function() {

            var myLatlng = new google.maps.LatLng(-2.20244372409651,-79.89777486508177);
            var mapOptions = {
                zoom: 14,
                center: myLatlng
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            $.get('/marcadores-sin-revisar/', function(data) {

                $.each(data, function(marker) {
                    plotPoint(data[marker].inc_code,
                                   data[marker].inc_usuario,
                                   data[marker].inc_categoria,
                                   data[marker].inc_coordenada,
                                   data[marker].inc_direccion,
                                   data[marker].inc_comentario,
                                   data[marker].inc_fecha,
                                   {{MEDIA_URL}}+data[marker].inc_evidencia,
                                   data[marker].inc_estado);

                });

            });

        });


        //    Posiciona un marcador segun los datos enviados
        function plotPoint(codigo, usuario, categoria, coordenada, direccion, comentario, fecha, imagen, estado)
        {
            var iconMarker;
            var infoMarker;

            infoMarker = '<div class=\'bubbleMap\'>'+
                                       '<span><i>'+comentario+'</i></span>'+
                                       '<hr/>'+
                                       '<i class=\'fa fa-male\'> '+usuario+'</i>'+
                                       '<i class=\'fa fa-slack pull-right\'> '+codigo+'</i>'+
                                '</div>';

            switch (categoria) {
                case "Construcción":
                    iconMarker = '{{ STATIC_URL }}img/marcadores/construccion.png';
                    break;
                case "Limpieza / Reciclaje":
                    iconMarker = '{{ STATIC_URL }}img/marcadores/reciclaje.png';
                    break;
                case "Medio Ambiente":
                    iconMarker = '{{ STATIC_URL }}img/marcadores/ambiente.png';
                    break;
                case "Servicio Técnico":
                    iconMarker = '{{ STATIC_URL }}img/marcadores/tecnico.png';
                    break;
                case "Policía":
                    iconMarker = '{{ STATIC_URL }}img/marcadores/policia.png';
                    break;
                case "Otros":
                    iconMarker = '{{ STATIC_URL }}img/marcadores/otros.png';
                    console.log("aqui");
                    break;
            }

            var myLatlng = new google.maps.LatLng(coordenada.split(",")[0], coordenada.split(",")[1]);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                icon: iconMarker,
            });
            markersArray.push(marker);
            var infowindow = new google.maps.InfoWindow({
                content: infoMarker
            });
            google.maps.event.addListener(marker, 'click', function() {
                if(activeWindow != null){
                    activeWindow.close();
                }
                infowindow.open(map,marker);
                // infowindow.attr("width",200);
                activeWindow = infowindow;
                $( "#img-map").removeClass( "col-lg-12" ).addClass( "col-lg-8" );
                $( "#incidence").removeClass( "hidden" ).addClass( "show" );
                $(".img-incidence").attr("src",imagen);
                $(".type-incidence").text(" " + categoria);
                $(".description-incidence i:first-child").text(" " + fecha);
                $(".description-incidence i:nth-child(2)").text(" " + usuario);
                $(".description-incidence span:nth-child(6)").text(" " + direccion);
                $(".description-incidence span:nth-child(10)").text(" " + comentario);
                $(".description-incidence span:nth-child(14)").text(" " + estado);
                $(".description-incidence i:last-child").text(" " + codigo);
            });
        }


        //    Cerrar descripción de la incidencia
        $(".close").on("click",function(){
            $( "#img-map").removeClass( "col-lg-8" ).addClass( "col-lg-12" );
            $( "#incidence").removeClass( "show" ).addClass( "hidden" );
            activeWindow.close();
            google.maps.visualRefresh = true;
        });
    </script>


{% endblock %}