{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Mapa de incidencias{% endblock %}

{% block content %}
    <!--Panel del mapa-->
    <div id="img-map" class="panel panel-default col-lg-12">
        <div class="panel-heading">
            <h3 class="panel-title">Mapa de incidencias de la ciudad de Guayaquil</h3>
        </div>
        <div class="panel-body">
            <div id="map-canvas"></div>
        </div>
    </div>
    <!--Panel de la incidencia-->
    <div id="incidence" class="panel panel-default col-lg-4 hidden">
        <div class="panel-heading">
            <h3 class="panel-title">Descripción de la incidencia
                <button class="close pull-right">&times;</button>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="thumbnail">
                        <img class="img-incidence" src="" alt="imagen de incidencia">
                        <div class="caption row">
                            <div class="col-lg-2">
                                <!-- <img class="icon-incidence" src=""> -->
                                <i class="fa fa-asterisk"></i>
                            </div>
                            <div class="col-lg-10">
                                <h5 class="type-incidence text-center">Incidencia ambiental</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <p class="description-incidence text-justify"><strong>Comentario: </strong>
                    Casa en demolición
                </p>
            </div>
            <div class="row pull-right">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="myModalSi" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                            <span><img src="{{ STATIC_URL }}img/warning.png"></span><strong> AVISO</strong>

                                        </div>
                                        <div class="modal-body">
                                        <p>¿ Está seguro de llevar un seguimiento de este caso ?</p>
                                    </div>
                                <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-danger">Sí</button>
                                        <button type="button" data-dismiss="modal" class="btn btn-danger">No</button>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div id="myModalNo" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                            <button class="close" data-dismiss="modal">&times;</button>
                                            <h3>AVISO</h3>
                                        </div>
                                        <div class="modal-body">
                                        <p>¿ Está seguro de eliminar este caso ?</p>
                                    </div>
                                <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-primary">Sí</button>
                                        <button type="button" data-dismiss="modal" class="btn btn-danger">No</button>
                                </div>
                                </div>
                            </div>
                        </div>
                        <a href="ajax.html" data-target="#myModalSi" data-toggle="modal" class="btn btn-primary">Aceptar</a>
                        <a href="ajax.html" data-target="#myModalNo" data-toggle="modal" class="btn btn-primary">Rechazar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extraScripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>

        var map;
        var markersArray = [];
        var activeWindow;


        $(document).ready( function() {

            var myLatlng = new google.maps.LatLng(-2.20244372409651,-79.89777486508177);
            var mapOptions = {
                zoom: 14,
                center: myLatlng
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            $.get('/marcadores-sin-revisar/', function(data) {

                $.each(data, function(marker) {
                    plotPoint(data[marker].inc_coordenada,
                                   data[marker].inc_categoria,//cambiar valor
                                   '<div class=\'bubbleMap\'>'+data[marker].inc_comentario+'<hr/>'+'<i class=\'fa fa-male\'></i> jaruban <span class=\'pull-right\'><b># 5</b></span></div>',
                                   {{MEDIA_URL}}+data[marker].inc_evidencia,
                                   data[marker].inc_comentario);

                    console.log(data[marker].inc_usuario);
                });

            });

        });


        //    Posiciona un marcador segun los datos enviados
        function plotPoint(coordenada,estado,infoMarker,imagen,comentario)
        {

            var myLatlng = new google.maps.LatLng(coordenada.split(",")[0], coordenada.split(",")[1]);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: estado
            });
            console.log(marker);
            markersArray.push(marker);
            var infowindow = new google.maps.InfoWindow({
                content: infoMarker
            });
            google.maps.event.addListener(marker, 'click', function() {
                if(activeWindow != null){
                    activeWindow.close();
                }
                infowindow.open(map,marker);
                // infowindow.attr("width",200);
                activeWindow = infowindow;
                $( "#img-map").removeClass( "col-lg-12" ).addClass( "col-lg-8" );
                $( "#incidence").removeClass( "hidden" ).addClass( "show" );
                $(".img-incidence").attr("src",imagen);
                // $(".icon-incidence").attr("src","../images/categoria/"+title+".png");
                // $(".type-incidence").text(detail);
            });
        }

    </script>


{% endblock %}