{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Mapa de incidencias{% endblock %}

{% block content %}
    <!--Panel del mapa-->
    <div id="img-map" class="panel panel-default col-lg-12">
        <div class="panel-heading">
            <h3 class="panel-title">Mapa de incidencias de la ciudad de Guayaquil</h3>

            <select class="submenu-markers pull-right hidden">
            </select>
            <select class="menu-markers pull-right">
              <option value="1">Todas</option>
              <option value="2">Categorías</option>
              <option value="3">Estados</option>
            </select>
            <span class="panel-title pull-right title-menu-markers">Filtrar por : </span>
        </div>
        <div class="panel-body">
            <div id="map-canvas"></div>
        </div>
    </div>
    <!--Panel de la incidencia-->
    <div id="incidence" class="panel panel-default col-lg-4 hidden">
        <div class="panel-heading">
            <h3 class="panel-title">Descripción de la incidencia
                <button class="close pull-right">&times;</button>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="thumbnail">
                        <img class="img-incidence" src="" alt="imagen de incidencia">
                        <div class="caption row">
                            <div class="col-lg-2">
                                <img class="icon-incidence" src="{{ STATIC_URL }}img/warning.png">
                            </div>
                            <div class="col-lg-8">
                                <h5 class="type-incidence text-center"></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row description-incidence">
                    <i class="fa fa-calendar pull-left"></i>
                    <i class="fa fa-male pull-right"></i>
                    <br><br>
                    <b>Dirección: </b><span></span>
                    <br><br>
                    <b>Comentario: </b><span></span>
                    <br><br>
                    <b class="pull-left">Estado: </b><span></span>
                    <i class="fa fa-slack pull-right"></i>
            </div>
            <br>

            <button class="btn" data-toggle="modal" data-target="#aceptada">Aceptar</button>
            <button class="btn" data-toggle="modal" data-target="#rechazada">Rechazar</button>

            <div class="modal fade" id="aceptada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mensaje de incidencia aceptada</h4>
                  </div>
                  <div class="modal-body">
                    <b>Para: </b><span></span><br><br>
                    <form  id="" class="form_message" action="" method="POST">
                        {% csrf_token %}
                        <!-- {{ mensaje_form.as_p }} -->
                        <input type="hidden" class="nick_modal" name="nick" value="">
                        <b>Título: </b><input type="text" class="title_modal" name="title" size="70"><br><br>
                        <b>Mensaje: </b><br>
                        <textarea rows="6" cols="68" class="message_modal" name="message"></textarea><br><br>
                        <b>Imagen: </b> <input class="image_modal" type="file" class="" name="image">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn send_message">Enviar mensaje</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="rechazada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mensaje de incidencia rechazada</h4>
                  </div>
                  <div class="modal-body">
                    <b>Para: </b><span></span><br><br>
                    <form  id="" class="form_message" action="" method="POST">
                        {% csrf_token %}
                        <!-- {{ mensaje_form.as_p }} -->
                        <input type="hidden" class="nick_modal" name="nick" value="">
                        <b>Título: </b><input type="text" class="title_modal" name="title" size="70"><br><br>
                        <b>Mensaje: </b><br>
                        <textarea rows="6" cols="68" class="message_modal" name="message"></textarea><br><br>
                        <b>Imagen: </b> <input class="image_modal" type="file" class="" name="image">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn send_message">Enviar mensaje</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraScripts %}
    <script type="text/javascript">
        var MEDIA_URL = "{{MEDIA_URL}}";
        var STATIC_URL = "{{STATIC_URL}}";
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="{% static "js/map-api.js" %}" type="text/javascript"></script>
    <script src="{% static "js/modal.js" %}" type="text/javascript"></script>


{% endblock %}